name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt' # or 'temurin' or 'zulu', choose according to your preference
          java-version: '17'   # Adjust the Java version as needed

      - name: Run Lint
        run: gradle lintDebug

      - name: Upload html test report
        uses: actions/upload-artifact@v3
        with:
          name: lint.html
          path: app/build/reports/lint-results-debug.html
  
  unit-test:
      needs: [lint]
      runs-on: ubuntu-latest
      steps:
        - name: Checkout the code
          uses: actions/checkout@v3

        - name: Setup JDK
          uses: actions/setup-java@v3
          with:
            distribution: 'adopt' # or 'temurin' or 'zulu', choose according to your preference
            java-version: '17'   # Adjust the Java version as needed

        - name: Run Lint
          run: gradle lintDebug

        - name: Upload test report
          uses: actions/upload-artifact@v3
          with:
            name: unit_test_report
            path: app/build/reports/tests/testDebugUnitTest/

